[flake8]
max-line-length = 120
ignore = E501,E402,F401,F811,E712,F541,E741,F841,W503,W504,E203
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    uploads,
    .pytest_cache,
    *.pyc,
    .mypy_cache,
    node_modules,
    .tox,
    dist
